body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: whitesmoke;
  margin: 0;
  padding: 20px 30px;
  text-align: center;
}

h1 {
  text-align: center;
}

input {
  position: relative;
  bottom: 15px;
}

button {
  width: 100%;
  padding: 7px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  filter: brightness(80%);
  transform: scale(1.05);
}

button:active {
  color: whitesmoke;
  background-color: #0f2027;
}

@media only screen and (max-width: 600px) {
  .settings {
    flex-direction: column;
  }
  .grid {
    margin-top: 20px; 
  }
  .wrapperContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 12px;
}

.wrapperContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.grid {
  display: grid;
  height: 400px;
  width: 400px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 30px -5px rgb(0 0 0 / 60%);
}

.gh {
  width: 24px;
}
.gh:hover {
  transform: scale(1.2);
}
